<div class="content">
  <h2>About Me</h2>
  <dl>
    <dt>Developer:</dt>
    <dd>dion@1evatine</dd>
    <dt>Profession:</dt>
    <dd>Creative Full Stack Engineer</dd>
    <dt>Bio:</dt>
    <dd>
      Experience in HTML, CSS, JavaScript. Passion for creativity in the digital
      space. Problem solver. Constantly seeking new challenges, growth
      opportunities. Bringing imaginative ideas to life. Skilled in modern web
      development frameworks such as React and Angular. Strong understanding of
      UI/UX design principles and ability to create visually appealing and
      usable websites.
    </dd>
  </dl>
  <h2>About Voicelink</h2>
  <p>
    Voicelink is a seamless Voice Call App integrated with Twilio for effortless
    internet-based communication. Enjoy real-time voice calls from any web
    browser, thanks to Twilio's reliable infrastructure.
  </p>
  <p><a class="email-link" href="mailto:devopsanju@gmail.com">Contact</a></p>
</div>
