<div class="container">
    <div class="levels" id="levels">
    <div class="level" id="level1"></div>
    <div class="level" id="level2"></div>
  </div>
      <div class="levels" id="levels">
    <div class="level" id="level1"></div>
    <div class="level" id="level2"></div>
  </div>
</div>