<div class="footer">
  <div class="footer-logo">
    <img
      src="img/_logo.png"
      alt="Footer Logo"
      style="width: 100px; height: 60px"
    />
  </div>
  <p id="footer-text">&copy; 2024 Voicelink. All rights reserved.</p>
  <div class="social-icons">
    <a href="mailto:devopsanju@gmail.com"><i class="fas fa-envelope"></i></a>
    <a href="https://www.instagram.com/dion.json" target="_blank"
      ><i class="fab fa-instagram"></i
    ></a>
    <a href="https://github.com/d10xi24" target="_blank"
      ><i class="fab fa-github"></i
    ></a>
  </div>
</div>
