<div class="'container">
  <div class="header">
    <div class="header-logo">
      <img src="img/header_logo.svg" alt="Voicelink Logo" style="width: 200px; height: 60px; padding-left: 2rem" />
    </div>
    <div class="menu-wrap">
      <nav class="menu">
        <div class="icon-list">
          <a href="#"><span>Home</span></a>
          <a href="#"><span>About</span></a>
          <a href="#"><span>HowToguide</span></a>
          <a href="#"><span>Contact</span></a>
          <div class="made-with-love">
            Made with ❤️ by Sanju </a> 
          </div>
        </div>
        <button class="close-button" id="close-button">X</button>
      </nav>
    </div>
    <button class="menu-button fa fa-bars" id="open-button">
    </button>
  </div>
</div>
